---
import Layout from "../layouts/Layout.astro";
import Services from "../components/home/new-services.astro";
import ScrollingText from "../components/home/scrolling-text.astro";
import CTA from "../components/cta.astro";
---

<Layout>
    <div id="tt-content-wrap">
        <div
            id="page-header"
            class="ph-full ph-full-m ph-cap-xxxxlg ph-center ph-image-parallax ph-caption-parallax"
        >
            <div class="page-header-inner tt-wrap">
                <div class="ph-caption">
                    <div
                        class="ph-caption-inner"
                        style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px);"
                    >
                        <h2 class="ph-caption-subtitle">
                            <span
                                class="tt-cap-word-wrap"
                                style="display: inline-flex; overflow: hidden;"
                                ><span
                                    class="tt-cap-word"
                                    style="display: inline-block; will-change: transform;"
                                    >Tellurys</span
                                ></span
                            >
                            <span
                                class="tt-cap-word-wrap"
                                style="display: inline-flex; overflow: hidden;"
                                ><span
                                    class="tt-cap-word"
                                    style="display: inline-block; will-change: transform;"
                                    >Durable</span
                                ></span>
                        </h2>
                        <h1 class="ph-caption-title">
                            <span
                                class="tt-cap-word-wrap"
                                style="display: inline-flex; overflow: hidden;"
                                ><span
                                    class="tt-cap-word"
                                    style="display: inline-block; will-change: transform;"
                                    >À PROPOS</span
                                ></span
                            >
                            <span
                                class="tt-cap-word-wrap"
                                style="display: inline-flex; overflow: hidden;"
                                ><span
                                    class="tt-cap-word"
                                    style="display: inline-block; will-change: transform;"
                                ></span></span>
                        </h1>
                    </div>
                </div>
            </div>
            <div
                class="page-header-inner ph-mask"
                style="--y: 73.6751%; --x: 39.467%;"
            >
                <div class="ph-mask-inner tt-wrap">
                    <div class="ph-caption">
                        <div
                            class="ph-caption-inner"
                            style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px);"
                        >
                            <h2 class="ph-caption-subtitle">
                                <span
                                    class="tt-cap-word-wrap"
                                    style="display: inline-flex; overflow: hidden;"
                                    ><span
                                        class="tt-cap-word"
                                        style="display: inline-block; will-change: transform;"
                                        >Tellurys</span
                                    ></span
                                >
                                <span
                                    class="tt-cap-word-wrap"
                                    style="display: inline-flex; overflow: hidden;"
                                    ><span
                                        class="tt-cap-word"
                                        style="display: inline-block; will-change: transform;"
                                        >Durable</span
                                    ></span>
                            </h2>
                            <h1 class="ph-caption-title">
                                <span
                                    class="tt-cap-word-wrap"
                                    style="display: inline-flex; overflow: hidden;"
                                    ><span
                                        class="tt-cap-word"
                                        style="display: inline-block; will-change: transform;"
                                        >À</span
                                    ></span
                                >
                                <span
                                    class="tt-cap-word-wrap"
                                    style="display: inline-flex; overflow: hidden;"
                                    ><span
                                        class="tt-cap-word"
                                        style="display: inline-block; will-change: transform;"
                                        >PROPOS</span
                                    ></span
                                >
                                <span
                                    class="tt-cap-word-wrap"
                                    style="display: inline-flex; overflow: hidden;"
                                    ><span
                                        class="tt-cap-word"
                                        style="display: inline-block; will-change: transform;"
                                    ></span></span>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>

            <div
                class="ph-social"
                style="translate: none; rotate: none; scale: none; opacity: 1; visibility: inherit; transform: translate(0px, 0px);"
            >
                <ul>
                    <li style="">
                        <div class="magnetic-wrap">
                            <a
                            href="https://www.linkedin.com/company/tellurys/?viewAsMember=true"
                                class="tt-magnetic-item"
                                target="_blank"
                                rel="noopener"
                                ><i class="fa-brands fa-linkedin"></i></a>
                        </div>
                    </li>

                </ul>
            </div>

            <div
                class="tt-scroll-down"
                style="translate: none; rotate: none; scale: none; opacity: 1; visibility: inherit; transform: translate(0px, 0px);"
            >
                <div class="magnetic-wrap">
                    <a
                        href="#tt-page-content"
                        class="tt-scroll-down-inner tt-magnetic-item"
                        data-offset="0"
                        style=""
                    >
                        <div class="tt-scrd-icon"></div>
                        <svg viewBox="0 0 500 500">
                            <defs>
                                <path
                                    d="M50,250c0-110.5,89.5-200,200-200s200,89.5,200,200s-89.5,200-200,200S50,360.5,50,250"
                                    id="textcircle"></path>
                            </defs>
                            <text dy="30">
                                <textpath xlink:href="#textcircle"
                                    >Défilez pour explorer - Défilez pour
                                    explorer -</textpath
                                >
                            </text>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div id="tt-page-content">
            <div class="tt-section no-padding-bottom padding-bottom-xlg-40">
                <div class="tt-section-inner tt-wrap">
                    <div class="tt-row tt-lg-row-reverse">
                        <div class="tt-col-lg-6 margin-bottom-20">
                            <div class="tt-video ttv-portrait ttv-grayscale">
                                <div
                                    class="tt-anim-zoomin-wrap"
                                    style="overflow: hidden;"
                                >
                                    <video
                                        playsinline=""
                                        muted=""
                                        autoplay=""
                                        loop=""
                                        preload="metadata"
                                        poster="/assets/images/Capture d’écran 2026-03-12 131846.png"
                                        class="tt-anim-zoomin"
                                        style=""
                                    >
                                        <source
                                            src="/assets/vds/IMG_7336 (3).mp4"
                                            type="video/mp4"
                                        />
                                        <source
                                            src="/assets/vds/IMG_7336 (3).mp4"
                                            type="video/webm"
                                        />
                                    </video>
                                </div>
                            </div>
                        </div>

                        <div class="tt-col-lg-1"></div>

                        <div class="tt-col-lg-5">
                            <div class="text-lg tt-anim-fadeinup" style="">
                                <p>
                                    Tellurys est un bureau d’études
                                    multidisciplinaire spécialisé dans
                                    l’analyse, la caractérisation et la
                                    valorisation du sous‑sol. Nous combinons
                                    expertise scientifique, technologies
                                    avancées et approche opérationnelle pour
                                    répondre aux enjeux géologiques,
                                    hydrogéologiques, environnementaux et
                                    miniers.
                                </p>

                                <p>
                                    Nos équipes maîtrisent un large éventail de
                                    méthodes géophysiques et géologiques. Grâce
                                    à des équipements de dernière génération,
                                    nous obtenons des données précises
                                    permettant d’interpréter la structure du
                                    sous‑sol, d’identifier les ressources, de
                                    prévenir les risques et d’optimiser les
                                    projets.
                                </p>

                                <p>
                                    Notre objectif est d’offrir une
                                    compréhension claire, exploitable et
                                    scientifiquement robuste du sous‑sol, afin
                                    de sécuriser les décisions et d’assurer la
                                    réussite des projets de nos clients.
                                </p>

                                <div
                                    class="tt-big-round-ptn margin-top-20 margin-left-xlg-10-p"
                                >
                                    <div class="magnetic-wrap">
                                        <a href="#">
                                            <div class="tt-big-round-ptn-inner">
                                                Explorez<br /> Notre Travail
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <ScrollingText /> -->

            <Services />

            <CTA />
        </div>
    </div></Layout
>
