---
import Layout from "../layouts/Layout.astro";
import CTA from '../components/cta.astro';
---

<Layout>
    <div id="tt-content-wrap"  style="">
        <!-- ========================
        ///// Begin page header /////
        ============================= 
        * Use class "ph-full" to enable fullscreen size (no effect on small screens!).
        * Use class "ph-full-m" to enable fullscreen size on small screens.
        * Use class "ph-cap-sm", "ph-cap-lg", "ph-cap-xlg", "ph-cap-xxlg" "ph-cap-xxxlg" or "ph-cap-xxxxlg" to set caption size (no class = default size).
        * Use class "ph-center" to align the content to the center. 
        * Use class "ph-caption-parallax" to enable caption parallax.
        * Use class "ph-image-parallax" to enable image/video parallax (if image/video exist).
        * Use class "ph-bg-is-light" if needed, it makes the elements dark and more visible if you use a very light background image (effect only if the image/video exist).
        -->
        <div
            id="page-header"
            class="ph-full ph-full-m ph-cap-xxxxlg ph-center ph-image-parallax ph-caption-parallax"
            
        >
         

            <div class="page-header-inner tt-wrap" >
                <div class="ph-caption" >
                    <div
                        class="ph-caption-inner"
                        
                        style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px);"
                    >
                        <h2 class="ph-caption-subtitle">
                            <span
                                class="tt-cap-word-wrap"
                                style="display: inline-flex; overflow: hidden;"
                                ><span
                                    class="tt-cap-word"
                                    style="display: inline-block; will-change: transform;"
                                    >Voir l’invisible.
                                </span></span
                            >
                            <span
                                class="tt-cap-word-wrap"
                                style="display: inline-flex; overflow: hidden;"
                                ><span
                                    class="tt-cap-word"
                                    style="display: inline-block; will-change: transform;"
                                    >Maîtriser</span
                                ></span
                            >
                            <span
                                class="tt-cap-word-wrap"
                                style="display: inline-flex; overflow: hidden;"
                                ><span
                                    class="tt-cap-word"
                                    style="display: inline-block; will-change: transform;"
                                    >le sous-sol.</span
                                ></span>
                        </h2>
                        <h1 class="ph-caption-title">
                            <span
                                class="tt-cap-word-wrap"
                                style="display: inline-flex; overflow: hidden;"
                                ><span
                                    class="tt-cap-word"
                                    style="display: inline-block; will-change: transform;"
                                    >Contactez-nous</span
                                ></span>
                        </h1>
                        <!-- <div class="ph-caption-description max-width-700" >
                            <span class="tt-cap-word-wrap" style="display: inline-flex; overflow: hidden;"><span class="tt-cap-word" style="display: inline-block; will-change: transform;">Feeling</span></span> <span class="tt-cap-word-wrap" style="display: inline-flex; overflow: hidden;"><span class="tt-cap-word" style="display: inline-block; will-change: transform;">good</span></span> <span class="tt-cap-word-wrap" style="display: inline-flex; overflow: hidden;"><span class="tt-cap-word" style="display: inline-block; will-change: transform;">about</span></span> <span class="tt-cap-word-wrap" style="display: inline-flex; overflow: hidden;"><span class="tt-cap-word" style="display: inline-block; will-change: transform;">a</span></span> <span class="tt-cap-word-wrap" style="display: inline-flex; overflow: hidden;"><span class="tt-cap-word" style="display: inline-block; will-change: transform;">new</span></span> <span class="tt-cap-word-wrap" style="display: inline-flex; overflow: hidden;"><span class="tt-cap-word" style="display: inline-block; will-change: transform;">project?</span></span><br> <span class="tt-cap-word-wrap" style="display: inline-flex; overflow: hidden;"><span class="tt-cap-word" style="display: inline-block; will-change: transform;">Write</span></span> <span class="tt-cap-word-wrap" style="display: inline-flex; overflow: hidden;"><span class="tt-cap-word" style="display: inline-block; will-change: transform;">me</span></span> <span class="tt-cap-word-wrap" style="display: inline-flex; overflow: hidden;"><span class="tt-cap-word" style="display: inline-block; will-change: transform;">and</span></span> <span class="tt-cap-word-wrap" style="display: inline-flex; overflow: hidden;"><span class="tt-cap-word" style="display: inline-block; will-change: transform;">Voir l’invisible. </span></span> <span class="tt-cap-word-wrap" style="display: inline-flex; overflow: hidden;"><span class="tt-cap-word" style="display: inline-block; will-change: transform;">talk</span></span> <span class="tt-cap-word-wrap" style="display: inline-flex; overflow: hidden;"><span class="tt-cap-word" style="display: inline-block; will-change: transform;">about</span></span> <span class="tt-cap-word-wrap" style="display: inline-flex; overflow: hidden;"><span class="tt-cap-word" style="display: inline-block; will-change: transform;">it.</span></span>
                        </div> -->
                    </div>
                </div>
            </div>
            <!-- /.page-header-inner -->

            <!-- Begin page header mask
            ============================ 
            Note: ph-mask is basically a clone of caption. If you want to use a different text on the mask then it is a bit tricky to fit. For better results, make sure that it will be the same length as possible as the original caption text (especially the title). It should also contain the same number of lines. Sometimes this can be difficult to achieve, in which case we recommend simply using identical text to the original caption.
            -->
            <div
                class="page-header-inner ph-mask"
                
                style="--y: 46.51539708265802%; --x: 49.11504424778761%;"
            >
                <div class="ph-mask-inner tt-wrap" >
                    <div class="ph-caption" >
                        <div
                            class="ph-caption-inner"
                            
                            style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px);"
                        >
                            <h2 class="ph-caption-subtitle">
                                <span
                                    class="tt-cap-word-wrap"
                                    style="display: inline-flex; overflow: hidden;"
                                    ><span
                                        class="tt-cap-word"
                                        style="display: inline-block; will-change: transform;"
                                        >Voir l’invisible.
                                    </span></span
                                >
                                <span
                                    class="tt-cap-word-wrap"
                                    style="display: inline-flex; overflow: hidden;"
                                    ><span
                                        class="tt-cap-word"
                                        style="display: inline-block; will-change: transform;"
                                        >Maîtriser</span
                                    ></span
                                >
                                <span
                                    class="tt-cap-word-wrap"
                                    style="display: inline-flex; overflow: hidden;"
                                    ><span
                                        class="tt-cap-word"
                                        style="display: inline-block; will-change: transform;"
                                        >le sous-sol.</span
                                    ></span>
                            </h2>
                            <h1 class="ph-caption-title">
                                <span
                                    class="tt-cap-word-wrap"
                                    style="display: inline-flex; overflow: hidden;"
                                    ><span
                                        class="tt-cap-word"
                                        style="display: inline-block; will-change: transform;"
                                        >Écrivez-</span
                                    ></span
                                >
                                <span
                                    class="tt-cap-word-wrap"
                                    style="display: inline-flex; overflow: hidden;"
                                    ><span
                                        class="tt-cap-word"
                                        style="display: inline-block; will-change: transform;"
                                        >nous</span
                                    ></span>
                            </h1>
                            <!-- <div class="ph-caption-description max-width-700" >
                                <span class="tt-cap-word-wrap" style="display: inline-flex; overflow: hidden;"><span class="tt-cap-word" style="display: inline-block; will-change: transform;">Feeling</span></span> <span class="tt-cap-word-wrap" style="display: inline-flex; overflow: hidden;"><span class="tt-cap-word" style="display: inline-block; will-change: transform;">good</span></span> <span class="tt-cap-word-wrap" style="display: inline-flex; overflow: hidden;"><span class="tt-cap-word" style="display: inline-block; will-change: transform;">about</span></span> <span class="tt-cap-word-wrap" style="display: inline-flex; overflow: hidden;"><span class="tt-cap-word" style="display: inline-block; will-change: transform;">a</span></span> <span class="tt-cap-word-wrap" style="display: inline-flex; overflow: hidden;"><span class="tt-cap-word" style="display: inline-block; will-change: transform;">new</span></span> <span class="tt-cap-word-wrap" style="display: inline-flex; overflow: hidden;"><span class="tt-cap-word" style="display: inline-block; will-change: transform;">project?</span></span><br> <span class="tt-cap-word-wrap" style="display: inline-flex; overflow: hidden;"><span class="tt-cap-word" style="display: inline-block; will-change: transform;">Write</span></span> <span class="tt-cap-word-wrap" style="display: inline-flex; overflow: hidden;"><span class="tt-cap-word" style="display: inline-block; will-change: transform;">me</span></span> <span class="tt-cap-word-wrap" style="display: inline-flex; overflow: hidden;"><span class="tt-cap-word" style="display: inline-block; will-change: transform;">and</span></span> <span class="tt-cap-word-wrap" style="display: inline-flex; overflow: hidden;"><span class="tt-cap-word" style="display: inline-block; will-change: transform;">Voir l’invisible. </span></span> <span class="tt-cap-word-wrap" style="display: inline-flex; overflow: hidden;"><span class="tt-cap-word" style="display: inline-block; will-change: transform;">talk</span></span> <span class="tt-cap-word-wrap" style="display: inline-flex; overflow: hidden;"><span class="tt-cap-word" style="display: inline-block; will-change: transform;">about</span></span> <span class="tt-cap-word-wrap" style="display: inline-flex; overflow: hidden;"><span class="tt-cap-word" style="display: inline-block; will-change: transform;">it.</span></span>
                            </div> -->
                        </div>
                        <!-- /.ph-caption-inner -->
                    </div>
                    <!-- /.ph-caption -->
                </div>
                <!-- /.ph-mask-inner -->
            </div>
            <!-- End page header mask -->

            <!-- Begin social buttons
            ========================== -->
            <div
                class="ph-social"
                
                style=""
            >
                <ul>
                    <li style="">
                        <div class="magnetic-wrap" >
                            <a
                            href="https://www.linkedin.com/company/tellurys/?viewAsMember=true"
                                class="tt-magnetic-item"
                                target="_blank"
                                rel="noopener"
                                ><i class="fa-brands fa-linkedin"></i></a>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- End social buttons -->

            <!-- Begin scroll down
            =======================
            * Note: Circle shown only if class "ph-full" or "ph-full-m" is enabled in "page-header" but not on small screens! Otherwise, only the arrow icon will be shown to save space.
            -->
            <div
                class="tt-scroll-down"
                
                style=""
            >
                <!-- You can change "data-offset" attribute to set scroll top offset -->
                <div class="magnetic-wrap" >
                    <a
                        href="#tt-page-content"
                        class="tt-scroll-down-inner tt-magnetic-item"
                        data-offset="0"
                        style=""
                    >
                        <div class="tt-scrd-icon" ></div>
                        <svg viewBox="0 0 500 500">
                            <defs>
                                <path
                                    d="M50,250c0-110.5,89.5-200,200-200s200,89.5,200,200s-89.5,200-200,200S50,360.5,50,250"
                                    id="textcircle"></path>
                            </defs>
                            <text dy="30">
                                <!-- If you change the text, you probably have to change the CSS parameters as well. In the "theme.css" file, find ".tt-scroll-down text {" and change the "font-size" and "letter-spacing" to fit the text correctly. -->
                                <textpath xlink:href="#textcircle"
                                    >Défilez pour explorer - Défilez pour explorer -</textpath
                                >
                            </text>
                        </svg>
                    </a>
                </div>
                <!-- /.tt-scroll-down-inner -->
            </div>
            <!-- End scroll down -->
        </div>
        <!-- End page header -->

        <!-- *************************************
        *********** Begin page content *********** 
        ************************************** -->
        <div id="tt-page-content" >
            <!-- =======================
            ///// Begin tt-section /////
            ============================ 
            * You can use padding classes if needed. For example "padding-top-xlg-150", "padding-bottom-xlg-150", "no-padding-top", "no-padding-bottom", etc.
            * You can use classes "border-top" and "border-bottom" if needed. 
            * Note: Each situation may be different and each section may need different classes according to your needs. More info about helper classes can be found in the file "helper.css".
            -->
            <div
                class="tt-section padding-top-40 padding-bottom-xlg-120"
                
            >
                <div class="tt-section-inner tt-wrap" >
                    <div class="tt-row tt-xl-row-reverse" >
                        <div class="tt-col-xl-5" >
                            <!-- Begin contact info 
                            ======================== -->
                            <div
                                class="tt-contact-info margin-bottom-80"
                                
                            >
                                <!-- Begin big arrow 
                                ====================== 
                                Use classes "tt-ba-angle-left", "tt-ba-angle-top", "tt-ba-angle-top-left", "tt-ba-angle-top-right", "tt-ba-angle-bottom", "tt-ba-angle-bottom-left", "tt-ba-angle-bottom-right" set change arrow pointing angle (no class = right).
                                -->
                                <div
                                    class="tt-big-arrow tt-ba-angle-bottom-left tt-anim-fadeinup"
                                    
                                    style=""
                                >
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 24 24"
                                    >
                                        <path
                                            d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z"
                                        ></path>
                                    </svg>
                                </div>
                                <!-- End big arrow -->

                                <div
                                    class="tt-contact-info-inner"
                                    
                                >
                                    <div
                                        class="margin-bottom-50 tt-anim-fadeinup"
                                        
                                        style=""
                                    >
                                        <!-- <h6>Voir l’invisible. Talk</h6> -->
                                        <p>
                                            Tellurys Bureau d’études en géophysique, géologie et environnement
                                        </p>
                                    </div>

                                    <!-- Begin contact details 
                                    =========================== -->
                                    <div
                                        class="tt-contact-details margin-bottom-50 tt-anim-fadeinup"
                                        
                                        style=""
                                    >
                                        <h6>Détails</h6>
                                        <ul>
                                            <li>
                                                <span class="tt-cd-icon"
                                                    ><i
                                                        class="fas fa-map-marker-alt"
                                                    ></i></span
                                                >
                                                <a
                                                    href="https://www.google.com/maps/place/121+King+St,+Melbourne+VIC+3000,+Austraalia/@-37.8172467,144.9532001,17z/data=!3m1!4b1!4m6!3m5!1s0x6ad65d4dd5a05d97:0x3e64f855a564844d!8m2!3d-37.817251!4d144.955775!16s%2Fg%2F11g0g8c54h?entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D"
                                                    class="tt-link"
                                                    target="_blank"
                                                    rel="noopener"
                                                    >10, Avenue Ibn Rifaâ, 3eme Étage À Droite - Casablanca</a
                                                >
                                            </li>
                                            <li>
                                                <span class="tt-cd-icon"
                                                    ><i class="fas fa-phone"
                                                    ></i></span
                                                >
                                                <a
                                                    href="tel:+212600089098"
                                                    class="tt-link"
                                                    > +212 600 089 098</a
                                                >
                                            </li>
                                            <li>
                                                <span class="tt-cd-icon"
                                                    ><i class="fas fa-envelope"
                                                    ></i></span
                                                >
                                                <a
                                                    href="mailto:contact@tellurys.ma"
                                                    class="tt-link"
                                                    >contact@tellurys.ma</a
                                                >
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- End contact details -->

                                    <!-- Begin social buttons 
                                    ========================== -->
                                    <div
                                        class="tt-social-buttons margin-bottom-50 tt-anim-fadeinup"
                                        
                                        style=""
                                    >
                                        <h6>Suivez-nous</h6>
                                        <ul>
                                            <li>
                                                <div
                                                    class="magnetic-wrap"
                                                    
                                                >
                                                    <a
                                                    href="https://www.linkedin.com/company/tellurys/?viewAsMember=true"
                                                    class="tt-magnetic-item"
                                                        target="_blank"
                                                        rel="noopener"
                                                        ><i class="fa-brands fa-linkedin"></i></a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- End social buttons  -->
                                </div>
                                <!-- /.tt-contact-info-inner -->
                            </div>
                            <!-- End contact info -->
                        </div>
                        <!-- /.tt-col -->

                        <div class="tt-col-xl-7" >
                            <!-- Begin form 
                            ================ 
                            * Use class "tt-form-filled", "tt-form-minimal" or "tt-form-creative" to change form style.
                            * Use class "tt-form-sm" or "tt-form-lg" to change form size (no class = default size).
                            * Note-1: Use only lowercase letters in field names! For example name="email".
                            * Note-2: See the template documentation for how to set up the contact form.
                            -->
                            <form
                            id="tt-contact-form"
                            class="tt-form tt-form-creative tt-form-lg"
                        >
                            <!-- Becin contact form messages (do not remove!) -->
                            <div
                                id="tt-contact-form-messages"
                                role="alert"
                                
                            >
                                <div
                                    class="tt-cfm-inner"
                                    
                                >
                                </div>
                                <div
                                    class="tt-cfm-close hide-cursor"
                                    
                                >
                                    <i class="fa-solid fa-xmark"></i>
                                </div>
                            </div>
                            <!-- End contact form messages -->
                        
                            <div
                                class="tt-contact-form-inner"
                                
                            >
                        
                                <div
                                    class="tt-form-group tt-anim-fadeinup"
                                    
                                    style=""
                                >
                                    <label
                                        >Quel est votre nom ? <span
                                            class="required">*</span
                                        ></label
                                    >
                                    <input
                                        class="tt-form-control"
                                        id="sender-name"
                                        type="text"
                                        name="name"
                                        placeholder="Jean Dupont"
                                        required=""
                                    />
                                </div>
                        
                                <div
                                    class="tt-form-group tt-anim-fadeinup"
                                    
                                    style=""
                                >
                                    <label
                                        >Quel est votre email ? <span
                                            class="required">*</span
                                        ></label
                                    >
                                    <input
                                        class="tt-form-control"
                                        id="sender-email"
                                        type="email"
                                        name="email"
                                        placeholder="jean@exemple.com"
                                        required=""
                                    />
                                </div>
                        
                                <div
                                    class="tt-form-group tt-anim-fadeinup"
                                    
                                    style=""
                                >
                                    <label
                                        >Quel service vous intéresse ? <span
                                            class="required">*</span
                                        ></label
                                    >
                                    <select
                                        class="tt-form-control"
                                        id="sender-option"
                                        name="option"
                                        required=""
                                    >
                                        <option
                                            value=""
                                            disabled=""
                                            selected=""
                                            >Veuillez choisir un service</option
                                        >
                                        <option value="Géophysique"
                                            >Géophysique</option
                                        >
                                        <option value="Géologie"
                                            >Géologie</option
                                        >
                                        <option value="Hydrogéologie"
                                            >Hydrogéologie</option
                                        >
                                        <option value="Environnement et risques naturels"
                                            >Environnement et risques naturels</option
                                        >
                                        <option value="Génie civil – Géotechnique"
                                            >Génie civil – Géotechnique</option
                                        >
                                        <option value="Mines & Carrières"
                                            >Mines & Carrières</option
                                        >
                                        <option value="Télédétection & SIG"
                                            >Télédétection & SIG</option
                                        >
                                    </select>
                                </div>
                        
                                <div
                                    class="tt-form-group tt-anim-fadeinup"
                                    
                                    style=""
                                >
                                    <label
                                        >Votre message <span class="required"
                                            >*</span
                                        ></label
                                    >
                                    <textarea
                                        class="tt-form-control"
                                        id="sender-message"
                                        rows="5"
                                        name="message"
                                        placeholder="Bonjour, pouvez-vous m’aider avec ..."
                                        required=""></textarea>
                                </div>
                        
                                <div
                                    class="tt-anim-fadeinup"
                                    
                                    style=""
                                >
                                    <div
                                        class="magnetic-wrap tt-magnetic-btn"
                                        
                                    >
                                        <button
                                            type="submit"
                                            class="tt-btn tt-btn-primary tt-magnetic-item"
                                            ><span class="tt-btn-inner">
                                                <span
                                                    data-hover="Envoyer le message"
                                                    >Envoyer le message</span
                                                >
                                            </span></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                            <!-- End form -->
                        </div>
                        <!-- /.tt-col -->
                    </div><!-- /.tt-row -->
                </div>
                <!-- /.tt-section-inner -->
            </div>
            <!-- End tt-section -->

            <!-- =======================
            ///// Begin tt-section /////
            ============================ 
            * You can use padding classes if needed. For example "padding-top-xlg-150", "padding-bottom-xlg-150", "no-padding-top", "no-padding-bottom", etc.
            * You can use classes "border-top" and "border-bottom" if needed. 
            * Note: Each situation may be different and each section may need different classes according to your needs. More info about helper classes can be found in the file "helper.css".
            -->
          <CTA/>
            <!-- End tt-section -->
        </div>
        <!-- End page content -->
    </div>
</Layout>
