---
import Layout from '../layouts/Layout.astro';
import Services from '../components/home/new-services.astro';
import PageHeader from '../components/home/page-header.astro';
import ManagerMessage  from '../components/home/manager-message.astro';
import Projects  from '../components/home/projects.astro';
import ScrollingText from '../components/home/scrolling-text.astro';
import AwardsList from '../components/home/awards-list.astro';
import Video from '../components/home/video.astro';
import CTA from '../components/cta2.astro';

---

<Layout>
	<div id="tt-content-wrap"  style="">
<PageHeader/>
		<div id="tt-page-content" >
		<ManagerMessage/>
			<Projects/>
			<!-- <ScrollingText/> -->
			<Services/>
			<Video/>
			<AwardsList/>
			<CTA/>
		</div>
	</div>

</Layout>
