<div class="tt-section padding-top-xlg-140 padding-bottom-xlg-120">
    <div class="tt-section-inner tt-wrap">
        <div class="tt-row">
            <div class="tt-col-lg-4">
                <div class="tt-heading tt-heading-xlg">
                    <h2 class="tt-heading-title tt-text-reveal">
                        <span>Mot du Gérant</span>
                    </h2>
                </div>

                <div class="tt-text-uppercase margin-top-30 tt-text-reveal">
                    <span>
                        Abdellatif Marouane<br /> Gérant – Tellurys
                    </span>
                </div>
            </div>

            <div class="tt-col-lg-1 padding-top-30"></div>
            <div class="tt-col-lg-7 tt-align-self-center">
                <div class="text-xxlg font-500 tt-text-reveal">
                    <span>
                        Bienvenue chez Tellurys. Notre mission est de mettre la
                        science au service d’un développement durable et
                        responsable.
                    </span>
                    <br>    
                    <span
                        >Grâce à une expertise reconnue en géophysique,
                        hydrogéologie, géologie et environnement, nous
                        accompagnons les acteurs publics et privés dans la
                        compréhension du sous‑sol et la gestion durable des
                        ressources naturelles.
                    </span>
                    <br>
                    <span
                        >Nous croyons en la valeur des données fiables, des
                        méthodes rigoureuses et des technologies de pointe pour
                        éclairer les décisions et sécuriser les projets.
                    </span>
                    <br>
                    <span>Cette vision guide chacune de nos interventions.</span
                    >
                </div>
            </div>

            <div class="magnetic-wrap tt-magnetic-btn">
                <a
                    href="/about-us"
                    class="tt-btn tt-btn-outline margin-top-40 tt-magnetic-item tt-anim-fadeinup"
                    ><span class="tt-btn-inner">
                        <span data-hover="Read More">En savoir plus</span>
                    </span></a
                >

                <a
                href="/brochure.pdf"
                download
                                    class="tt-btn tt-btn-outline margin-top-40 tt-magnetic-item tt-anim-fadeinup"
                    ><span class="tt-btn-inner">
                        <span data-hover="Read More">Télécharger la brochure</span>
                    </span></a
                >
            </div>
        </div>
    </div>
</div>
