<div id="page-header" class="ph-full ph-full-m ph-center ph-cap-xxxxlg ph-image-parallax ph-caption-parallax">

    <!-- Background Video -->
    <div class="ph-video ph-video-grayscale ph-video-cover-1">
        <div class="ph-video-inner">
            <video loop muted autoplay playsinline preload="metadata" poster="/assets/images/telluryss.webp">
                <source src="/assets/images/telluryss.webp" type="video/mp4" />
                <source src="/assets/images/telluryss.webp" type="video/webm" />
            </video>
        </div>
    </div>

    <!-- BASE CAPTION -->
    <div class="page-header-inner tt-wrap">
        <div class="ph-caption">
            <div class="ph-caption-inner">
                <h1 class="ph-caption-title">
                    Tellurys<br />
                    Durable
                </h1>

                <div class="ph-caption-description max-width-700">
                    Comprendre le sol. Sécuriser les projets.<br />
                    Valoriser les ressources.
                </div>
            </div>
        </div>
    </div>

    <!-- MASK / ANIMATED LAYER -->
    <div class="page-header-inner ph-mask">
        <div class="ph-mask-inner tt-wrap">
            <div class="ph-caption">
                <div class="ph-caption-inner">
                    <h1 class="ph-caption-title">
                        Tellurys<br />
                        Expert
                    </h1>

                    <div class="ph-caption-description max-width-700">
                        Comprendre le sol. Sécuriser les projets.<br />
                        Valoriser les ressources.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Social -->
    <div class="ph-social">
        <ul>
            <li>
                <div class="magnetic-wrap">
                    <a href="https://www.linkedin.com/company/tellurys/?viewAsMember=true"
                       class="tt-magnetic-item"
                       target="_blank"
                       rel="noopener">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                </div>
            </li>
        </ul>
    </div>

    <!-- Scroll -->
    <div class="tt-scroll-down">
        <div class="magnetic-wrap">
            <a href="#tt-page-content" class="tt-scroll-down-inner tt-magnetic-item" data-offset="0">
                <div class="tt-scrd-icon"></div>
                <svg viewBox="0 0 500 500">
                    <defs>
                        <path id="textcircle"
                              d="M50,250c0-110.5,89.5-200,200-200s200,89.5,200,200s-89.5,200-200,200S50,360.5,50,250"/>
                    </defs>
                    <text dy="30">
                        <textPath xlink:href="#textcircle">
                            Défilez pour explorer - Défilez pour explorer -
                        </textPath>
                    </text>
                </svg>
            </a>
        </div>
    </div>

</div>