<div
    id="page-header"
    class="ph-full ph-full-m ph-center ph-cap-xxxxlg ph-image-parallax ph-caption-parallax"
>
    <div class="ph-video ph-video-grayscale ph-video-cover-1">
        <div
            class="ph-video-inner"
            style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px);"
        >
            <video
                loop=""
                muted=""
                autoplay=""
                playsinline=""
                preload="metadata"
                poster="/assets/images/telluryss.png"
                style=""
            >
                <source
                    src="/assets/images/telluryss.png"
                    type="video/mp4"
                />
                <source
                    src="/assets/images/telluryss.png"
                    type="video/webm"
                />
            </video>
        </div>
    </div>

    <div class="page-header-inner tt-wrap">
        <div class="ph-caption">
            <div
                class="ph-caption-inner"
                style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px);"
            >
                <h1 class="ph-caption-title">
                    <span
                        class="tt-cap-word-wrap"
                        style="display: inline-flex; overflow: hidden;"
                        ><span
                            class="tt-cap-word"
                            style="display: inline-block; will-change: transform;"
                            >Tellurys</span
                        ></span
                    ><br />
                    <span
                        class="tt-cap-word-wrap"
                        style="display: inline-flex; overflow: hidden;"
                        ><span
                            class="tt-cap-word"
                            style="display: inline-block; will-change: transform;"
                            >Durable</span
                        ></span
                    >
                </h1>
                <div class="ph-caption-description max-width-700">
                    <span
                        class="tt-cap-word-wrap"
                        style="display: inline-flex; overflow: hidden;"
                        ><span
                            class="tt-cap-word"
                            style="display: inline-block; will-change: transform;"
                            >Comprendre</span
                        ></span
                    >
                    <span
                        class="tt-cap-word-wrap"
                        style="display: inline-flex; overflow: hidden;"
                        ><span
                            class="tt-cap-word"
                            style="display: inline-block; will-change: transform;"
                            >le</span
                        ></span
                    >
                    <span
                        class="tt-cap-word-wrap"
                        style="display: inline-flex; overflow: hidden;"
                        ><span
                            class="tt-cap-word"
                            style="display: inline-block; will-change: transform;"
                            >sol.</span
                        ></span
                    >
                    <span
                        class="tt-cap-word-wrap"
                        style="display: inline-flex; overflow: hidden;"
                        ><span
                            class="tt-cap-word"
                            style="display: inline-block; will-change: transform;"
                            >Sécuriser</span
                        ></span
                    >
                    <span
                        class="tt-cap-word-wrap"
                        style="display: inline-flex; overflow: hidden;"
                        ><span
                            class="tt-cap-word"
                            style="display: inline-block; will-change: transform;"
                            >les projets.</span
                        ></span
                    ><br />
                    <span
                        class="tt-cap-word-wrap"
                        style="display: inline-flex; overflow: hidden;"
                        ><span
                            class="tt-cap-word"
                            style="display: inline-block; will-change: transform;"
                            >Valoriser
                        </span></span
                    >
                    <span
                        class="tt-cap-word-wrap"
                        style="display: inline-flex; overflow: hidden;"
                        ><span
                            class="tt-cap-word"
                            style="display: inline-block; will-change: transform;"
                            >les</span
                        ></span
                    >
                    <span
                        class="tt-cap-word-wrap"
                        style="display: inline-flex; overflow: hidden;"
                        ><span
                            class="tt-cap-word"
                            style="display: inline-block; will-change: transform;"
                            >ressources</span
                        ></span
                    >
                    <span
                        class="tt-cap-word-wrap"
                        style="display: inline-flex; overflow: hidden;"
                        ><span
                            class="tt-cap-word"
                            style="display: inline-block; will-change: transform;"
                        ></span></span
                    >
                </div>
            </div>
        </div>
    </div>

    <div
        class="page-header-inner ph-mask"
        style="--y: 8.26580226904376%; --x: 79.49852507374632%;"
    >
        <div class="ph-mask-inner tt-wrap">
            <div class="ph-caption">
                <div
                    class="ph-caption-inner"
                    style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px);"
                >
                    <h1 class="ph-caption-title">
                        <span
                            class="tt-cap-word-wrap"
                            style="display: inline-flex; overflow: hidden;"
                            ><span
                                class="tt-cap-word"
                                style="display: inline-block; will-change: transform;"
                                >Tellurys</span
                            ></span
                        ><br />
                        <span
                            class="tt-cap-word-wrap"
                            style="display: inline-flex; overflow: hidden;"
                            ><span
                                class="tt-cap-word"
                                style="display: inline-block; will-change: transform;"
                                >Expert</span
                            ></span
                        >
                    </h1>
                    <div class="ph-caption-description max-width-700">
                        <span
                            class="tt-cap-word-wrap"
                            style="display: inline-flex; overflow: hidden;"
                            ><span
                                class="tt-cap-word"
                                style="display: inline-block; will-change: transform;"
                                >Comprendre</span
                            ></span
                        >
                        <span
                            class="tt-cap-word-wrap"
                            style="display: inline-flex; overflow: hidden;"
                            ><span
                                class="tt-cap-word"
                                style="display: inline-block; will-change: transform;"
                                >le</span
                            ></span
                        >
                        <span
                            class="tt-cap-word-wrap"
                            style="display: inline-flex; overflow: hidden;"
                            ><span
                                class="tt-cap-word"
                                style="display: inline-block; will-change: transform;"
                                >sol.</span
                            ></span
                        >
                        <span
                            class="tt-cap-word-wrap"
                            style="display: inline-flex; overflow: hidden;"
                            ><span
                                class="tt-cap-word"
                                style="display: inline-block; will-change: transform;"
                                >Sécuriser</span
                            ></span
                        >
                        <span
                            class="tt-cap-word-wrap"
                            style="display: inline-flex; overflow: hidden;"
                            ><span
                                class="tt-cap-word"
                                style="display: inline-block; will-change: transform;"
                                >les projets.</span
                            ></span
                        ><br />
                        <span
                            class="tt-cap-word-wrap"
                            style="display: inline-flex; overflow: hidden;"
                            ><span
                                class="tt-cap-word"
                                style="display: inline-block; will-change: transform;"
                                >Valoriser
                            </span></span
                        >
                        <span
                            class="tt-cap-word-wrap"
                            style="display: inline-flex; overflow: hidden;"
                            ><span
                                class="tt-cap-word"
                                style="display: inline-block; will-change: transform;"
                                >les</span
                            ></span
                        >
                        <span
                            class="tt-cap-word-wrap"
                            style="display: inline-flex; overflow: hidden;"
                            ><span
                                class="tt-cap-word"
                                style="display: inline-block; will-change: transform;"
                                >ressources</span
                            ></span
                        >
                        <span
                            class="tt-cap-word-wrap"
                            style="display: inline-flex; overflow: hidden;"
                            ><span
                                class="tt-cap-word"
                                style="display: inline-block; will-change: transform;"
                            ></span></span
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div
        class="ph-social"
        style="translate: none; rotate: none; scale: none; opacity: 1; visibility: inherit; transform: translate(0px, 0px);"
    >
        <ul>
            <li style="">
                <div class="magnetic-wrap">
                    <a
                    href="https://www.linkedin.com/company/tellurys/?viewAsMember=true"
                    class="tt-magnetic-item"
                        target="_blank"
                        rel="noopener"
                        ><i class="fa-brands fa-linkedin"></i></a
                    >
                </div>
            </li>

        </ul>
    </div>

    <div
        class="tt-scroll-down"
        style="translate: none; rotate: none; scale: none; opacity: 1; visibility: inherit; transform: translate(0px, 0px);"
    >
        <div class="magnetic-wrap">
            <a
                href="#tt-page-content"
                class="tt-scroll-down-inner tt-magnetic-item"
                data-offset="0"
                style=""
            >
                <div class="tt-scrd-icon"></div>
                <svg viewBox="0 0 500 500">
                    <defs>
                        <path
                            d="M50,250c0-110.5,89.5-200,200-200s200,89.5,200,200s-89.5,200-200,200S50,360.5,50,250"
                            id="textcircle"></path>
                    </defs>
                    <text dy="30">
                        <textpath xlink:href="#textcircle"
                            >Défilez pour explorer - Défilez pour explorer -
                        </textpath>
                    </text>
                </svg>
            </a>
        </div>
    </div>
</div>
