---
const projects = [
	{
		title: "Étude de sol pour un complexe résidentiel à Tanger",
		cat: "Génie civil-Géotechnique",
		image: "/assets/images/projects/etude-de-sol-pour-un-complexe-residentiel-a-tanger-tellurys.png",
	},
	{
		title: "Diagnostic géotechnique pour un projet industriel à Kénitra",
		cat: "Génie civil-Géotechnique",
		image: "/assets/images/projects/diagnostic-geotechnique-pour-un-projet-industriel-a-kenitra-tellurys.png",
	},
	{
		title: "Cartographie géophysique pour un aménagement routier à Chefchaouen",
		cat: "Géophysique",
		image: "/assets/images/projects/cartographie-geophysique-pour-un-amenagement-routier-a-chefchaouen-tellurys.png",
	},
	{
		title: "Études hydrogéologiques pour plusieurs domaines agricoles (Souss, Gharb, Sahara …)",
		cat: "Hydrogéologie",
		image: "/assets/images/projects/etudes-hydrogeologiques-pour-plusieurs-domaines-agricoles-souss-gharb-sahara-tellurys.png",
	},
	{
		title: "Études minières et cartographie du terrain à Ouarzazate",
		cat: "Mines & Carrières",
		image: "/assets/images/projects/etudes-minieres-et-cartographie-du-terrain-a-ouarzazate-tellurys.png",
	},
];
---

<div class="tt-section padding-top-xlg-140 border-top">
	<div class="tt-section-inner tt-wrap">
		<div class="tt-row">
			<div class="tt-col-xl-8">
				<div class="tt-heading tt-heading-xxxlg">
					<h3 class="tt-heading-subtitle tt-text-reveal">
						<span>Nos Réalisations</span>
					</h3>
					<h2 class="tt-heading-title tt-text-reveal">
						<span>Projets</span>
					</h2>
				</div>

				<div
					class="tt-text-uppercase max-width-400 margin-left-xlg-10-p text-pretty tt-text-reveal"
				>
					<span>
						Un aperçu de nos projets en géophysique, géologie,
						hydrogéologie et environnement, menés pour mieux
						comprendre le sol et sécuriser les décisions.
					</span>
				</div>
			</div>

			<div class="tt-col-xl-4 tt-align-self-end margin-top-30">
				<div
					class="tt-big-round-ptn tt-anim-fadeinup"
					style="will-change: transform; translate: none; rotate: none; scale: none; transform: translate(0px, 50px); opacity: 0; visibility: hidden;"
				>
					<div class="magnetic-wrap">
						<a
							href="#"
							class="tt-big-round-ptn-holder tt-magnetic-item"
						>
							<div class="tt-big-round-ptn-inner">
								Tous<br /> les projets
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div
	class="tt-section no-padding-top padding-top-xlg-80 padding-bottom-20 padding-bottom-xlg-80"
>
	<div class="tt-section-inner">
		<div class="tt-portfolio-preview-list tt-ppli-portrait tt-ppli-hover">
			<div class="tt-ppl-items-list">
				{
					projects.map((project, index) => (
						<a href="#" class="tt-ppl-item">
							<div
								class="tt-ppli-preview"
								style="translate: none; rotate: none; scale: none; transform: translate(-50%, -50%) translate(1078px, 51px);"
							>
								<div class="tt-ppli-preview-image">
									<img
										data-src={project.image}
										alt={project.title}
										class="lazy-img"
									/>
								</div>
							</div>

							<div class="tt-ppl-item-inner">
								<div class="tt-ppl-item-holder">
									<div class="tt-ppli-col tt-ppli-col-count">
										<div class="tt-ppli-count" />
									</div>
									<div class="tt-ppli-col tt-ppli-col-caption">
										<div class="tt-ppli-caption">
											<h2 class="tt-ppli-title">
												{project.title}
											</h2>
											<div class="tt-ppli-categories">
												<div class="tt-ppli-category">
													{project.cat}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</a>
					))
				}
			</div>
		</div>
	</div>
</div>

<script>
	window.addEventListener("load", () => {
		alert("loaded");
		setTimeout(() => {
			
			const images = document.querySelectorAll("img.lazy-img");
			
			images.forEach((img) => {
				img.src = img.dataset.src;
			});
		}, 500);
	});
</script>
