<div class="tt-section no-padding padding-top-xlg-40 padding-bottom-xlg-40" >
    <div class="tt-section-inner" >

        <div class="tt-scrolling-text-crossed" >
            <div class="tt-scrolling-text-crossed-inner" >

                <div class="tt-scrolling-text scrt-dyn-separator scrt-color-reverse"
                    data-scroll-speed="7" data-change-direction="true" data-opposite-direction="true"
                    >
                    <div class="tt-scrt-inner" 
                        style="translate: none; rotate: none; scale: none; transform: translate(-50%, 0%);">
                        <div class="tt-scrt-content" 
                            style="translate: none; rotate: none; scale: none; transform: translate(61.6857%, 0%) translate3d(0px, 0px, 0px);">
                            Comprendre le sol Sécuriser les projets. Valoriser  les ressources 
                            <span class="tt-scrt-separator">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <path
                                        d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z">
                                    </path>
                                </svg>
                            </span>
                        </div>
                        <div class="tt-scrt-content" aria-hidden="true" 
                            style="translate: none; rotate: none; scale: none; transform: translate(61.6857%, 0%) translate3d(0px, 0px, 0px);">
                            Comprendre le sol Sécuriser les projets. Valoriser  les ressources 
                            <span class="tt-scrt-separator">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <path
                                        d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z">
                                    </path>
                                </svg>
                            </span>
                        </div>
                        <div class="tt-scrt-content" aria-hidden="true" 
                            style="translate: none; rotate: none; scale: none; transform: translate(61.6857%, 0%) translate3d(0px, 0px, 0px);">
                            Comprendre le sol Sécuriser les projets. Valoriser  les ressources 
                            <span class="tt-scrt-separator">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <path
                                        d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z">
                                    </path>
                                </svg>
                            </span>
                        </div>
                        <div class="tt-scrt-content" aria-hidden="true" 
                            style="translate: none; rotate: none; scale: none; transform: translate(61.6857%, 0%) translate3d(0px, 0px, 0px);">
                            Comprendre le sol Sécuriser les projets. Valoriser  les ressources 
                            <span class="tt-scrt-separator">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <path
                                        d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z">
                                    </path>
                                </svg>
                            </span>
                        </div>
                        <div class="tt-scrt-content" aria-hidden="true" 
                            style="translate: none; rotate: none; scale: none; transform: translate(61.6857%, 0%) translate3d(0px, 0px, 0px);">
                            Comprendre le sol Sécuriser les projets. Valoriser  les ressources 
                            <span class="tt-scrt-separator">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <path
                                        d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z">
                                    </path>
                                </svg>
                            </span>
                        </div>
                        <div class="tt-scrt-content" aria-hidden="true" 
                            style="translate: none; rotate: none; scale: none; transform: translate(61.6857%, 0%) translate3d(0px, 0px, 0px);">
                            Comprendre le sol Sécuriser les projets. Valoriser  les ressources 
                            <span class="tt-scrt-separator">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <path
                                        d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z">
                                    </path>
                                </svg>
                            </span>
                        </div> 
                    </div> 
                </div> 


                <div class="tt-scrolling-text scrt-dyn-separator" data-scroll-speed="7"
                    data-change-direction="true" >
                    <div class="tt-scrt-inner" 
                        style="translate: none; rotate: none; scale: none; transform: translate(-50%, 0%);">
                        <div class="tt-scrt-content" 
                            style="translate: none; rotate: none; scale: none; transform: translate(-61.6857%, 0%) translate3d(0px, 0px, 0px);">
                            Comprendre le sol Sécuriser les projets. Valoriser  les ressources 
                            <span class="tt-scrt-separator">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <path
                                        d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z">
                                    </path>
                                </svg>
                            </span>
                        </div>
                        <div class="tt-scrt-content" aria-hidden="true" 
                            style="translate: none; rotate: none; scale: none; transform: translate(-61.6857%, 0%) translate3d(0px, 0px, 0px);">
                            Comprendre le sol Sécuriser les projets. Valoriser  les ressources 
                            <span class="tt-scrt-separator">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <path
                                        d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z">
                                    </path>
                                </svg>
                            </span>
                        </div>
                        <div class="tt-scrt-content" aria-hidden="true" 
                            style="translate: none; rotate: none; scale: none; transform: translate(-61.6857%, 0%) translate3d(0px, 0px, 0px);">
                            Comprendre le sol Sécuriser les projets. Valoriser  les ressources 
                            <span class="tt-scrt-separator">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <path
                                        d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z">
                                    </path>
                                </svg>
                            </span>
                        </div>
                        <div class="tt-scrt-content" aria-hidden="true" 
                            style="translate: none; rotate: none; scale: none; transform: translate(-61.6857%, 0%) translate3d(0px, 0px, 0px);">
                            Comprendre le sol Sécuriser les projets. Valoriser  les ressources 
                            <span class="tt-scrt-separator">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <path
                                        d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z">
                                    </path>
                                </svg>
                            </span>
                        </div>
                        <div class="tt-scrt-content" aria-hidden="true" 
                            style="translate: none; rotate: none; scale: none; transform: translate(-61.6857%, 0%) translate3d(0px, 0px, 0px);">
                            Comprendre le sol Sécuriser les projets. Valoriser  les ressources 
                            <span class="tt-scrt-separator">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <path
                                        d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z">
                                    </path>
                                </svg>
                            </span>
                        </div>
                        <div class="tt-scrt-content" aria-hidden="true" 
                            style="translate: none; rotate: none; scale: none; transform: translate(-61.6857%, 0%) translate3d(0px, 0px, 0px);">
                            Comprendre le sol Sécuriser les projets. Valoriser  les ressources 
                            <span class="tt-scrt-separator">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <path
                                        d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z">
                                    </path>
                                </svg>
                            </span>
                        </div> 
                    </div> 
                </div> 

            </div> 
        </div>

    </div> 
</div>