<div class="tt-section no-padding-top" >
    <div class="tt-section-inner" >


        <div class="tt-clipper" >
            <a href="https://www.youtube.com/watch?v=6nGs9iGrpok"
                class="tt-clipper-inner not-hide-cursor" data-cursor="Lire&lt;br&gt;Le Reel"
                data-fancybox="" data-caption="My awesome showreel. :)">


                <div class="tt-clipper-bg" >
                    <video loop="" muted="" autoplay="" playsinline="" preload="metadata"
                        poster="assets/images/Capture dՎcran 2026-03-12 125507.png">
                        <source src="/assets/vds/WhatsApp Video 2026-03-12 at 11.49.46 AM.mp4"
                             type="video/mp4">
                        <source src="/assets/vds/WhatsApp Video 2026-03-12 at 11.49.46 AM.mp4"
                             type="video/webm">
                    </video>
                </div>

                <div class="tt-clipper-content" >

                    <div class="tt-clipper-btn" >
                        <i class="fa-solid fa-play"></i>
                    </div>

                </div> 
            </a>
        </div>

    </div> 
</div>