<div class="tt-section padding-top-xlg-120" >
    <div class="tt-section-inner tt-wrap" >

        <div class="tt-row margin-bottom-40" >
            <div class="tt-col-xl-8" >

                <div class="tt-heading tt-heading-xxxlg no-margin" >
                    <h3 class="tt-heading-subtitle tt-text-reveal"><span style="background-size: 0% 100%;">Contact</span></h3>
                    <h2 class="tt-heading-title tt-text-reveal"><span style="background-size: 0% 100%;">Travaillons<br> Ensemble</span></h2>
                </div>

            </div> 
        
            <div class="tt-col-xl-4 tt-align-self-end tt-xl-column-reverse margin-top-40" >

                <div class="max-width-600 margin-bottom-10 tt-text-uppercase text-pretty tt-text-reveal" ><span style="background-size: 0% 100%;">
                    Vous avez une idée pour un nouveau projet ? Écrivez-moi ce que vous avez en tête<br> et parlons-en !
                </span></div>

                <div class="tt-big-round-ptn margin-top-30 margin-bottom-xlg-80 tt-anim-fadeinup" style="">
                    <div class="magnetic-wrap" ><a href="/contact" class="tt-big-round-ptn-holder tt-magnetic-item">
                        <div class="tt-big-round-ptn-inner" >Connectons-<br>nous !</div>
                    </a></div>
                </div>

            </div> 
        </div>

    </div> 
</div>