<footer id="tt-footer" class="border-top">
    <div class="tt-footer-inner tt-wrap">
        <div class="tt-row">
            <div class="tt-col-xl-3 tt-col-sm-6">
                <div class="tt-footer-widget">
                    <h6 class="tt-footer-widget-heading">Liens</h5>
                    <ul class="tt-footer-widget-list">
                        <li>
                            <a href="#" class="tt-link">Support</a>
                        </li>
                        <li>
                            <a href="#" class="tt-link">Licences</a>
                        </li>
                        <li>
                            <a href="#" class="tt-link"
                                >Conditions d’utilisation</a
                            >
                        </li>
                        <li>
                            <a href="#" class="tt-link"
                                >Politique de confidentialité</a
                            >
                        </li>
                    </ul>
                </div>
            </div>

            <div class="tt-col-xl-3 tt-col-sm-6">
                <div class="tt-footer-widget">
                    <h6 class="tt-footer-widget-heading">Plan du site</h5>
                    <ul class="tt-footer-widget-list">
                        <li>
                            <a href="/about-us" class="tt-link">À propos</a>
                        </li>
                        <li>
                            <a href="#" class="tt-link">Nos réalisations</a>
                        </li>
                        <li>
                            <a href="#" class="tt-link">Services</a>
                        </li>
                        <li>
                            <a href="/contact" class="tt-link">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="tt-col-xl-3 tt-col-sm-6">
                <div class="tt-footer-widget">
                    <h6 class="tt-footer-widget-heading">Contact</h5>
                    <ul class="tt-footer-widget-list">
                        <li>
                            <a
                                href="https://www.google.com/maps/place/121+King+St,+Melbourne+VIC+3000,+Austraalia/@-37.817251,144.955775,17z/data=!3m1!4b1!4m6!3m5!1s0x6ad65d4dd5a05d97:0x3e64f855a564844d!8m2!3d-37.817251!4d144.955775!16s%2Fg%2F11g0g8c54h"
                                class="tt-link"
                                target="_blank"
                                rel="nofollow noopener"
                                >10, Avenue Ibn Rifaâ,<br />
                                3eme Étage À Droite - Casablanca</a
                            >
                        </li>
                        <li>
                            <a href="mailto:contact@tellurys.ma" class="tt-link"
                                >contact@tellurys.ma</a
                            >
                        </li>
                        <li>
                            <a href="tel:+212600089098" class="tt-link">
                                +212 600 089 098</a
                            >
                        </li>
                        <li>
                            <div class="tt-social-buttons">
                                <ul>
                                    <li>
                                        <div class="magnetic-wrap">
                                            <a
                                                href="https://www.linkedin.com/company/tellurys/?viewAsMember=true"
                                                class="tt-magnetic-item"
                                                target="_blank"
                                                rel="noopener"
                        aria-label="LinkedIn Tellurys"

                                            >
                                                <i class="fa-brands fa-linkedin"
                                                ></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="tt-col-xl-3 tt-col-sm-6 tt-justify-content-xl-end">
                <div class="tt-footer-widget">
                    <ul class="tt-footer-widget-list">
                        <li>
                            <div class="tt-footer-logo">
                                <div class="magnetic-wrap">
                                    <a href="/" class="tt-magnetic-item">
                                        <img
                                            src="/assets/images/white logo tellurys.svg"
                                            class="tt-logo-light"
                                            loading="lazy"
                                            decoding="async"
                                            alt="Logo"
                                            style="height: 100px;"
                                        />
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="tt-footer-copyright">
                                © <span class="tt-copyright-year">2026</span>
                                Tellurys
                                <br />
                                Tous droits réservés. Créé & développé par <a
                                    href="https://brosmedia.ma/"
                                    target="_blank">Brosmedia</a
                                >.
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
