---
import Header from "../components/header.astro";
import Message from "../components/message.astro";
import Footer from "../components/footer.astro";
// import "../../public/assets/css/all.min.css";
import "../../public/assets/css/fancybox.css";
import "../../public/assets/css/swiper-bundle.min.css";
import "../../public/assets/css/helper.css";
import "../../public/assets/css/theme.css";
import "../../public/assets/css/theme-light.css";
import "../../public/assets/css/chat-boot.css";
import "../../public/assets/css/new-services.css";
// import "../../public/assets/font/css2";
// import "../../public/assets/font/css2(1)";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>tellurys</title>

		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
		/>
		<link rel="preconnect" href="https://fonts.googleapis.com/" />
		<link
			rel="preconnect"
			href="https://fonts.gstatic.com/"
			crossorigin=""
		/>
<style>
	/* vietnamese */
@font-face {
  font-family: 'Big Shoulders Display';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/bigshouldersdisplay/v24/fC1_PZJEZG-e9gHhdI4-NBbfd2ys3SjJCx1cw9DuHpM.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Big Shoulders Display';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/bigshouldersdisplay/v24/fC1_PZJEZG-e9gHhdI4-NBbfd2ys3SjJCx1cwtDuHpM.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Big Shoulders Display';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/bigshouldersdisplay/v24/fC1_PZJEZG-e9gHhdI4-NBbfd2ys3SjJCx1czNDu.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

</style>
		<!-- <link href="/assets/font/css2(1)" rel="stylesheet" /> -->
	</head>
	<body
		id="body"
		class="tt-transition tt-noise tt-magic-cursor tt-smooth-scroll tt-header-scroll-on page-header-on ph-full-on ph-full-m-on ph-center-on ph-video-on tt-ph-visible ph-mask-on"
	>
		<div class="tt-bg-noise"></div>

		<main id="body-inner">
			<div id="magic-cursor" style="opacity: 1; visibility: inherit;">
				<div
					id="ball"
					style="translate: none; rotate: none; scale: none; opacity: 1; border-width: 2px; height: 36px; width: 36px; transform: translate(-50%, -50%) translate(1078px, 50.9999px);"
				>
				</div>
			</div>

			<Header />

			<slot />

			<Message />

			<Footer />
			<!-- End tt-footer -->

			<!-- Begin scroll to top button
				================================ -->
			<a
				href="#"
				id="chat-button"
				class="chat-icon"
				style="background-color: #f2f1ee;
				color: #bf4a1a;
				width: 40px;
				height: 40px;"
			>
				<i class="fa-solid fa-comment"></i>
			</a>

			<a href="#" class="tt-scroll-to-top">
				<div class="magnetic-wrap">
					<div class="tt-stt-progress tt-magnetic-item">
						<svg
							class="tt-stt-progress-circle"
							width="100%"
							height="100%"
							viewBox="-1 -1 102 102"
						>
							<path
								d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"
								style="transition: stroke-dashoffset 10ms linear; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"
							>
							</path>
						</svg>
					</div>
				</div>
				<!-- /.tt-stt-progress -->
			</a>
		</main>

		<!-- jQuery (FIXED) -->
		<script is:inline src="https://code.jquery.com/jquery-3.7.1.min.js"
		></script>

		<!-- GSAP (FIXED CDN) -->
		<script
			is:inline
			src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"
		></script>
		<script
			is:inline
			src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"
		></script>
		<script
			is:inline
			src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollToPlugin.min.js"
		></script>
		<!-- Other libs -->
		<script
			is:inline
			src=" https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js
"
		></script>
		<script
			is:inline
			src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js"
		></script>
		<script
			is:inline
			src="https://cdnjs.cloudflare.com/ajax/libs/packery/2.1.2/packery.pkgd.min.js"
		></script>

		<!-- Lenis -->
		<script
			is:inline
			src="https://cdn.jsdelivr.net/npm/@studio-freight/lenis@1.0.42/dist/lenis.min.js"
		></script>
		<!-- Fancybox -->
		<script
			is:inline
			src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"
		></script>

		<!-- Swiper -->
		<script
			is:inline
			src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"
		></script>

		<!-- Your theme LAST -->
		<script src="../../public/assets/js/theme.js"></script>
	</body>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() {
			dataLayer.push(arguments);
		}
		gtag("js", new Date());

		gtag("config", "G-2SLRW2WLDD");
	</script>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
